<!DOCTYPE html>
<!-- ./public/index.html -->
<html>
  <head>
    <title>Harry Smith</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <main>
      <div class="big-container">
        <div class="about">
          <h1>Harry Smith</h1>
          <img src="picture.jpg" alt="Me, Adrian, and a Fidget Spinner (2017)" title="Me, Adrian, and a Fidget Spinner (2017)">
          <p>My name is Harry Smith. I'm currently a Master's student at Columbia University studying Computer Science.</p>
        </div>
        <div class="contents">
          <div class="headbar"></div>
          <h2>Here's some stuff I'd like to share with you.</h2>
          <div class="entries">
          <h3> Visualization Work </h3>
          <hr>
          <list>
            <a href="https://shpach.github.io/Data-Visualization-A5/">Economic Outcomes for College Majors</a>
            <li>Final project for Intro to Data Visualization. A D3 scollytelling experience walking you through what to expect when you're expecting (to graduate with a Petroleum Engineeringg degree). 
            You can read about our methodology <a href="https://medium.com/@hs3061/does-college-provide-all-students-with-the-same-economic-opportunities-6867795b7c34">here.</a></li>
            <br>
            <a href="https://observablehq.com/@sharry29/nba-elo/3">NBA Team ELOs through Time</a>
            <li>An exploration of the relative strength of NBA teams through time, using FiveThirtyEight's ELO data. A nice bonus of the visualization is the ability to see teams pop up, disappear, and move across the country. The linked Observable notebook contains a brief recap of the ideation process for the visualization as well.
          </list>
          <h3> Fun Stuff</h3>
          <hr>
          <list>
            <a href="/chat">Cat Eye Clock</a>
            <li>A p5.js sketch inspired by <a href="https://kit-cat.com/">Kit-Cat Clocks.</a> A purrfect way to check the time!</li>
            <br>
            <a href="/snake"> Stijlin' Snake</a>
            <li>A game written in p5.js inspired by <a href="https://en.wikipedia.org/wiki/Snake_(video_game_genre)"> the classic game of Snake</a> and <a href="https://en.wikipedia.org/wiki/De_Stijl">the De Stijl art movement</a></li>.
          </list>
          <h3> Works in Progress </h3>
          <hr>
          <list>
            <a href="/chat">Chatroom</a>
            <li>I'm working on a clone of Sheriff of Nottingham for the browser using Server.js. So far, I've got the chatroom down.</li>
          </list>
          </div>
        </div>
    </div>
    </main>


    <!-- Include jquery, cookies, socket.io (client-side) and your own code -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://unpkg.com/cookie_js@1.2.2/cookie.min.js"></script>
    <script src="https://unpkg.com/socket.io-client@2/dist/socket.io.slim.js"></script>
  </body>
</html>