<!DOCTYPE html>
<!-- ./public/index.html -->
<html>
  <head>
    <title>Harry Smith</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <main>
      <div class="big-container">
        <div class="about">
          <h1>Harry Smith</h1>
          <img src="fancy_picture.jpg" alt="Me, Adrian, and a Fidget Spinner (2017)" title="Me, Adrian, and a Fidget Spinner (2017)">
          <h2>My name is Harry Smith. I'm the one in the background above!</h2>
          <p>I'm currently a Master's student at Columbia University studying Computer Science with a focus in Machine Learning and Natural Language Processing. My professional interests are in Computer Science education and creative computing.</p>
        </div>
        <div class="contents">
          <div style="position:relative" class="headbar">
            <div class="container">
              <a class="item" href="HarrySmith_CV.pdf">CV</a>
              <a class="item" href="http://www.columbia.edu/~hs3061/reviews.pdf">Teaching Reviews</a>
            </div>
          </div>
          <h2>Here's some stuff I'd like to share with you.</h2>
          <div class="entries">
          <h3> Visualization Work </h3>
          <hr>
          <list>
            <a href="https://sharry29.github.io/p4k">Breaking Down Pitchfork's Top 200 of the 2010s</a>
            <li>Who was the best of the best in the 2010s? How did recent songs contend against tracks from the beginning of the decade? What labels were the constant hitmakers? Was this the decade of truly independent music? Check this out to find out!</li>
            <br>
            <a href="https://sharry29.github.io/diagnosis_dilemma">Doctor's Diagnosis Dilemma</a>
            <li>Are you better at reasoning about probabilities than your doctor? You'd hope so, since medical testing for diagnosing is just a game of conditional probability. This is an interactive explainer for why it's difficult to diagnose rare diseases even with nearly perfect medical equipment.</li>
            <br>
            <a href="https://shpach.github.io/Data-Visualization-A5/">Economic Outcomes for College Majors</a>
            <li>Final project for Intro to Data Visualization. A D3 scollytelling experience walking you through what to expect when you're expecting (to graduate with a Petroleum Engineering degree). 
            You can read about our methodology <a href="https://medium.com/@hs3061/does-college-provide-all-students-with-the-same-economic-opportunities-6867795b7c34">here.</a></li>
            <br>
            <a href="https://observablehq.com/@sharry29/nba-elo/3">NBA Team ELOs through Time</a>
            <li>An exploration of the relative strength of NBA teams through time, using FiveThirtyEight's ELO data. A nice bonus of the visualization is the ability to see teams pop up, disappear, and move across the country. The linked Observable notebook contains a brief recap of the ideation process for the visualization as well.
            <br>
          </list>
          <h3>Research</h3>
          <hr>
          <list>
            <a href="ModernCorefVoiceAA.pdf">Stylometry in the Modern Era: Coreference and Voice for Authorship Attribution</a>
            <li> What factors determine an author's voice in writing? We used state of the art NLP techniques to define features that can be used to quantify the notion of authorial style. In particular, we explored how constructs like passive voice usage and entity coreference patterns create an author's signature literary fingerprint. Our data came from the Guardian's opinion pieces and book reviews over the past decade, so this particular experiment was performed in the domain of non-fiction. Co-authored with Samuel Sharpe, Justin Cho.</li>
            <br>
            <a href="/RobustMethodsIPS.pdf">Exploring Robust Neural Methods in Inductive Program Synthesis</a>
            <li>The ability for computers to create and understand human-readable source code is an attractive goal with profound implications for software engineering and security research. In this paper, I provide a survey of research which has attempted to generate or learn programs using Neural Networks and evaluate strengths and weaknesses of each. Additionally, I formalize an extention to the promising work done by <a href="https://arxiv.org/abs/1611.01989">DeepCoder </a> that incorporates a Graph Neural Network into the inductive framework.</li>
            <li><a href="/DeepCoder_IPS.pdf">Here</a> is a link to a presentation I gave on DeepCoder which also describes the problem of Inductive Program Synthesis.</li>
          </list>
          <h3> Fun Stuff</h3>
          <hr>
          <list>
            <a href="https://sharry29.github.io/DataViz/projects/a0/index.html">Cat Eye Clock</a>
            <li>A p5.js sketch inspired by <a href="https://kit-cat.com/">Kit-Cat Clocks.</a> A purrfect way to check the time!</li>
            <br>
            <a href="/snake"> Stijlin' Snake</a>
            <li>A game written in p5.js inspired by <a href="https://en.wikipedia.org/wiki/Snake_(video_game_genre)"> the classic game of Snake</a> and <a href="https://en.wikipedia.org/wiki/De_Stijl">the De Stijl art movement.</a></li>
          </list>
          <h3> Works in Progress </h3>
          <hr>
          <list>
            <a href="/chat">Chatroom</a>
            <li>I'm working on a clone of <a href="https://boardgamegeek.com/boardgame/157969/sheriff-nottingham">Sheriff of Nottingham</a> for the browser using Server.js. So far, I've got the chatroom down.</li>
          </list>
          </div>
        </div>
    </div>
    </main>


    <!-- Include jquery, cookies, socket.io (client-side) and your own code -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://unpkg.com/cookie_js@1.2.2/cookie.min.js"></script>
    <script src="https://unpkg.com/socket.io-client@2/dist/socket.io.slim.js"></script>
  </body>
</html>