<!-- ./public/snake.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>Starving Snake</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <style> body{padding:0; margin:0; touch-action: none;} </style>
  </head>
  <body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/p5.js"></script>
    <script src="../public/player.js"></script>
    <script src="../public/palette.js"></script>
    <script src="../public/board.js"></script>
    <script src="../public/painter.js"></script>
    <script src="../public/snake.js"></script>
  </body>
</html>