/* ./public/style.css */
* {
  /*box-sizing: border-box;*/
  transition: all 0.3s ease;
}
body {
  background: #fff7e3;
  font-family: 'Oswald', sans-serif;
}

img {
  /*margin: 10px;*/
  max-width: 100%;
}
div.main-content {
  margin: auto;
  display: flex;
  align-items: stretch;
}

div.headbar {
  background: #ffdb80;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

aside.about-col {
  height: 100%;
  flex-grow: 1;
  margin-right: 0.5rem;
  padding: 1rem;
}
main.portfolio-col {
  flex-grow: 3;
}

a.item {
  height: 30px;
}
button {
  background: #ffc430;
  font-family: 'Oswald', sans-serif;
  font-size: 1.3rem;
  vertical-align: middle;
  border: none;
  width: 300px;
  height: 100%;
  flex-grow: 1;
}
