/* ./public/style.css */
* {
  /*box-sizing: border-box;*/
  transition: all 0.3s ease;
}
body {
  background: #fff7e3;
  font-family: "Oswald", sans-serif;
}

.efott-header {
  margin: auto;
  /*text-align: center;*/
  /*width: 40%;*/
  padding-bottom: 10px;
}

h3 {
  padding: 5px;
  background: #ffc430;
  max-width: 120px;
}

img.me {
  width: 100%;
}

img.billboard {
  max-width: 100%;
  max-height: 200px;
  margin: auto;
  display: block;
  vertical-align: middle;
  border: 1px solid black;
}

img.billboard-wide {
  max-width: 50%;
  max-height: 200px;
  margin: auto;
  display: block;
  vertical-align: middle;
  border: 1px solid black;
}

img.efott-billboard {
  max-width: 100%;
  /*max-height: 200px;*/
  margin: auto;
  display: block;
  vertical-align: middle;
  border: 1px solid black;
}
div.main-content {
  margin: auto;
  display: flex;
  align-items: stretch;
}

div.headbar {
  background: #ffdb80;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

div.category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

div.explanation {
  /*margin: auto;*/
  width: 50%;
  /*height: 100%;*/
  margin-right: 0.5rem;
  margin-top: 0px;
  top: 30%;
  position: sticky;
}

div.efott-category {
  /*display: flex;*/
  /*  flex-direction: row;
  flex-wrap: wrap;*/
  max-width: 50%;
  justify-content: space-around;
  background: #ffdb80;
}

/* div.about-header {
  height: 100%;
  position: sticky;
  top: 0px;
} */

aside.about-col {
  height: 100%;
  flex-grow: 1;
  margin-right: 0.5rem;
  padding: 1rem;
  top: 0px;
  min-width: 20%;
  max-width: 22%;
  position: sticky;
  border-bottom: 10px solid #ffdb80;
  border-right: 10px solid #ffdb80;

  /* background: #ffdb80; */
  /*display: ;*/
}

main.portfolio-col {
  flex-grow: 3;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  min-width: 70%;
  position: relative;
  /* border-bottom: 10px solid #ffdb80; */
}

main.slider {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}

.efott-entry {
  max-width: 20%;
  /*background: #ffdb80;*/
  border: black;
  border-width: medium;
  /*padding: 5px;*/
  /*margin: 10px;*/
}
.entry {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  background: #ffdb80;
  border: black;
  border-width: medium;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.wide-entry {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  background: #ffdb80;
  border: black;
  border-width: medium;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.invis {
  visibility: hidden;
}

.left-text {
  text-align: start;
  /* width: fit-content;
  display: inline-block; */
}

.right-text {
  text-align: end;
  /* width: fit-content;
  display: inline-block; */
}
a.item {
  height: 30px;
}

a {
  text-decoration: none;
  color: black;
  /*text-anchor: middle;*/
}

button {
  background: #ffc430;
  font-family: "Oswald", sans-serif;
  font-size: 1.3rem;
  vertical-align: middle;
  border: none;
  flex-grow: 1;
}

canvas[resize] {
  position: absolute;
  left: 0px;
  right: 0px;
}

@media only screen and (max-width: 768px) {
  aside.about-col {
    position: static;
    max-width: 100%;
    border: none;
  }

  main.slider {
    margin: auto;
    flex-direction: column;
    width: 80%;
  }

  div.explanation {
    position: static;
    width: 100%;
  }

  div.main-content {
    display: inline-block;
  }

  div.efott-category {
    max-width: 100%;
  }

  /* div.headbar {
    position: sticky;
    top: 0;
  } */

  .entry {
    width: 80%;
  }
  .efott-entry {
    width: 40%;
  }
  .invis {
    display: none;
  }

  img.me {
    display: none;
  }
  /*  span {
    display: none;
  }*/

  h3 {
    max-width: 100%;
    position: sticky;
  }
}
